    <!-- Boilerplate Metatags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
    <!-- Project Metatags -->
    <meta name="author" content="Matthew Lawhorn">
    <meta name="application-name" content="My Notebook">
    <meta name="description" content="Keeps track of notes I write.">
      
    <!-- Title and Icon -->
    <title>My Notebook</title>
    <link rel="icon" href="./assets/images/default.ico" type="image/x-icon">
      
    <!-- My CSS  -->
    <link href="/public/assets/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css">

    <!-- Some Bootstrap nonsense they wanna use  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
